@import "../../../styles/media.scss";

.header {
  width: 100%;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 123;
  background: var(--black900);
}

.headerInner {
  padding: 14px 20px;
  max-width: 1360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;

  @include desktop {
    padding: 20px;
    justify-content: flex-start;
  }
}

.logo {
  line-height: 0;

  @include desktop {
    margin-right: auto;
  }
}

.loginBtn {
  margin-right: 20px;
}