@import '../../../styles/media.scss';

.whatWeDoing {
  position: relative;
  padding-top: 200px;
  padding-bottom: 160px;

  &::before {
    content: "";
    position: absolute;
    width: 79px;
    height: 292px;
    right: 0;
    top: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../assets/svg/main-decoration-right-1.svg");

    @include tablet {
      width: 100px;
      height: 370px;
      top: 99px;
    }

    @include desktop {
      width: 149px;
      height: 552px;
    }
  }
}

.sectionText {
  margin-bottom: 48px;
}