@import '../../../styles/media.scss';

.whatRoadmap {
  position: relative;
  padding-bottom: 120px;

  .sectionText {
    margin-bottom: 72px;

    &:last-child {
      margin-bottom: 0;
      margin-top: 40px;
    }
  }

  .steps {
    padding-top: 118px;
    max-width: 568px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .stepsDecoration {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-image:
      repeating-linear-gradient(to bottom, transparent 0, transparent 10px, var(--black900) 10px, var(--black900) 20px),
      linear-gradient(to bottom, #FFD965 0%,
        rgba(244, 217, 102, 0.9445) 3.27%,
        #FF5655 12.1%,
        #F6339A 23.57%,
        #BE22E2 32.94%,
        #461276 43.51%,
        #29106F 53.12%,
        #191489 63.81%,
        #443DF6 73.72%,
        #A6D4FF 83.5%,
        #38D47E 94.85%, );
  }

  .step {
    position: relative;
    max-width: 304px;
    min-height: 162px;

    &:nth-child(2n - 1) {
      margin-left: auto;

      .stepInner {
        margin-left: auto;
      }

      .stepDecoration {
        right: auto;
        left: 0;
      }
    }
  }

  .stepInner {
    max-width: 200px;
    padding-top: 5px;
  }

  .stepDecoration {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    line-height: 0;
    background-color: var(--black900);
  }

  .stepDecorationImage {}

}