.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 54px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0;
  border: 0;
  border-radius: 8px;
  background-color: var(--main900);
  cursor: pointer;
  text-decoration: none;
}

.primary {
  color: var(--black800);
  transition: .3s;

  &:hover {
    background-color: var(--main700);
  }

  &:active {
    background-color: var(--main800);
  }

  &:disabled {
    background-color: var(--black600);
  }
}

.secondary {
  background-color: rgba(var(--main900-rgb), 0.2);
  color: var(--main900);

  &:hover {
    background-color: rgba(var(--main900-rgb), 0.3);
  }

  &:active {
    background-color: rgba(var(--main900-rgb), 0.4);
  }

  &:disabled {
    background-color: rgba(var(--black600-rgb), 0.2);
  }
}

.transparent {
  min-width: auto;
  padding: 0;
  height: auto;
  background-color: transparent;
  color: var(--white100);
}

.sm {
  min-width: 160px;
  height: 40px;
}

.lg {
  padding-top: 21px;
  padding-bottom: 21px;
}

.buttonText {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}