@import '../../../../styles/media.scss';

.cardWithIcon {
  width: 100%;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    width: 216px;
    margin-right: 45px;
    margin-left: 45px;
    margin-bottom: 64px;
  }

  @include desktop {
    width: 200px;
    margin-right: 68px;
    margin-left: 68px;
  }
}

.iconImage {
  display: block;
  margin-bottom: 20px;
}