@import '../../../styles/media.scss';

.contactUs {
  padding-bottom: 120px;
}

.sectionRow {

  @include desktop {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.sectionCol {
  margin-bottom: 40px;

  @include desktop {
    margin-bottom: 0;
    max-width: 312px;
  }
}

.form {
  width: 100%;

  @include desktop {
    max-width: 424px;
  }
}

.formFooter {
  padding-top: 32px;

  @include desktop {
    text-align: right;
  }
}