@import '../../../styles/media.scss';

.contactUs {
  padding-bottom: 120px;
}

.sectionRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sectionCol {
  max-width: 312px;
}

.form {
  width: 100%;
  max-width: 424px;
}

.formFooter {
  padding-top: 32px;
  text-align: right;
}