@import '../../../styles/media.scss';

.title {
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--white100);
}

.pageTitle {
  font-size: 36px;
  line-height: 46px;

  @include tablet {
    font-size: 64px;
    line-height: 72px;
  }
}

.sectionTitle {
  font-size: 24px;
  line-height: 34px;

  @include tablet {
    font-size: 36px;
    line-height: 46px;
  }
}

.smalTitle {
  font-size: 16px;
  line-height: 26px;

  @include tablet {
    font-size: 24px;
    line-height: 34px;
  }
}

.footerTitle {
  font-size: 14px;
  line-height: 24px;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }
}

.subSectionTitle {
  font-size: 16px;
  line-height: 26px;
  color: var(--main900)
}